#thesis-text{
  width: 80vw;
  max-width: 700px;
  margin-left: 150px;
  margin-right: 50px;
  line-height: 180%;
}

img{
  width: 700px;
}

.hidden{
  display:none;
}

.seekInAudio{
  cursor:pointer;
}

blockquote{
  margin-left: 60px;
  font-size: 14px;
  line-height: 160%;
}

.citation-name{
  text-align: right;
  margin-top: -20px;
}

section{
  margin-bottom: 2cm;
}

.references{
  line-height: 150%;
}

.p-contents{
  text-align:left;
  text-indent: 20px;
  font-family:Lora;
  font-size:14px;
  text-decoration: none;
  line-height: 100%;
}

iframe{
  border:0;
  width: 700px;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
}

.iframe-wide{
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  margin-right: 50px;
}

.iframe-load-button{
  border:none;
  cursor:pointer;
  font: 14px "Lora";
  border-radius: 50px;

  background: #FFF;
  color: #000;
  border-radius: 50px;
  border: 2px solid #000;
}

.iframe-load-button:hover{
  background: #EEE;
}

.contents-hyperlinked p{
margin-block-start: 0.5em;
margin-block-end: 0.5em;
}

.contents-hyperlinked a {
  margin-left: 20px;
  color: black;
  text-decoration: none;
  font: 14px 'Lora';
}

.contents-hyperlinked a::after{
  /*
    content: "\a";
    white-space: pre;
  */
}

.contents-hyperlinked a:hover {
  color: #818181;
}

/* The sidebar menu */
.sidebar {
  font: 12px 'Lora';
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 2px 8px 2px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  position:sticky;
  top:15px;
  right:15px;
  float:left;
/*
  font: 24px 'Montserrat';
  font-variant-caps: small-caps;
  */
  cursor: pointer;

  /*
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  */
  font-family:"Lora";

  line-height: 2.5;


  text-decoration: none;
  display: inline-block;
  background: #FFF;
  color: #000;
  border-radius: 50px;
  top: 45px;
  cursor: pointer;
  border: 2px solid #000;
  height: 50px;
  text-align: center;
  font-size: 18px;


}

.openbtn:hover {
  background: #EEE;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation
#main {
  transition: margin-left .5s; // If you want a transition effect
  padding: 20px;
  font: 14px 'Montserrat';
}
 */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}



p.p1 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    text-align: justify;
    line-height: 23.0px;
    font: 18.7px 'Trebuchet MS';
    color: #000000;
    min-height: 22.0px
}

p.p2 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    text-align: center;
    line-height: 23.0px;
    font: 18.7px 'Trebuchet MS';
    color: #000000;
    min-height: 22.0px
}

p.p3 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    text-align: right;
    font: 30.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #000000
}

p.p4 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 12.0px 'Times New Roman';
    color: #000000;
    -webkit-text-stroke: #000000;
    min-height: 15.0px
}

p.p5 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 10.7px Verdana;
    color: #000000;
    -webkit-text-stroke: #ffffff;
    min-height: 13.0px
}

p.p6 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    text-align: justify;
    line-height: 14.0px;
    font: 12.0px Times;
    color: #000000;
    -webkit-text-stroke: #ffffff;
    min-height: 14.0px
}

p.p7 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 11.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p8 {
    margin: 0.0px 0.0px 26.0px 0.0px;
    text-align: center;
    font: 11.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #ffffff;
    min-height: 14.0px
}

p.p9 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    text-align: center;
    font: 9.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p10 {
    margin: 0.0px 0.0px 26.0px 0.0px;
    text-align: justify;
    font: 11.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #ffffff;
    min-height: 14.0px
}

p.p11 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff;
    min-height: 14.0px
}

p.p12 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff;
    line-height: 180%;
}

p.p13 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p14 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p15 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p16 {
    margin: 0.0px 0.0px 6.0px 0.0px;
    text-align: justify;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p17 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    text-align: justify;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p18 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p19 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p20 {
    margin: 0.0px 0.0px 10.0px 325.9px;
    text-align: justify;
    text-indent: -297.6px;
    font: 10.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p21 {
    margin: 0.0px 0.0px 0.0px 325.9px;
    text-align: justify;
    text-indent: -297.6px;
    font: 10.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p22 {
    margin: 0.0px 0.0px 6.0px 325.9px;
    text-indent: -269.3px;
    font: 10.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p23 {
    margin: 0.0px 0.0px 10.0px 325.9px;
    text-indent: -269.3px;
    font: 10.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p24 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 13.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p25 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 12.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p26 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 8.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff;
    min-height: 10.0px
}

p.p27 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    text-align: center;
    font: 11.0px 'PingFang SC';
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p28 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 13.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p29 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p30 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff;
    min-height: 14.0px
}

p.p31 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 13.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p32 {
    margin: 0.0px 0.0px 26.0px 0.0px;
    text-align: justify;
    font: 11.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p33 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff;
    min-height: 14.0px
}

p.p34 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    text-align: center;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p35 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    text-align: center;
    font: 12.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p36 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    line-height: 17.0px;
    font: 12.0px Times;
    color: #000000;
    -webkit-text-stroke: #ffffff;
    background-color: #ffffff;
    min-height: 14.0px
}

p.p37 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    line-height: 13.0px;
    font: 10.7px Verdana;
    color: #000000;
    -webkit-text-stroke: #ffffff;
    background-color: #ffffff;
    min-height: 13.0px
}

p.p38 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    text-align: justify;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p39 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    text-align: justify;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p40 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    text-align: center;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff;
    min-height: 14.0px
}

p.p41 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    text-align: center;
    font: 11.0px 'PingFang SC';
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p42 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    text-align: center;
    font: 12.0px 'PingFang SC';
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p43 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    text-align: center;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

p.p44 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 10.0px 'Helvetica Neue';
    color: #000000;
    -webkit-text-stroke: #000000;
    min-height: 12.0px
}

p.p45 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #000000;
    min-height: 14.0px
}

p.p46 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    text-align: justify;
    font: 13.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #000000
}

p.p47 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #000000
}

p.p48 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    text-align: center;
    font: 11.0px 'PingFang SC';
    color: #000000;
    -webkit-text-stroke: #000000
}

p.p49 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 14.0px Lora;
    color: #212121;
    -webkit-text-stroke: #000000
}

p.p50 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 13.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #000000
}

p.p51 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #000000;
    min-height: 14.0px
}

p.p52 {
    margin: 0.0px 0.0px 26.0px 0.0px;
    text-align: justify;
    font: 11.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #000000
}

p.p53 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #000000
}

p.p54 {
    margin: 0.0px 0.0px 26.0px 0.0px;
    text-align: justify;
    font: 11.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #000000;
    min-height: 14.0px
}

p.p55 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 12.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #000000
}

p.p56 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 13.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #000000
}

p.p57 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    line-height: 15.0px;
    font: 13.0px Arial;
    color: #222222;
    -webkit-text-stroke: #222222;
    min-height: 15.0px
}

p.p58 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    line-height: 16.0px;
    font: 13.0px Arial;
    color: #222222;
    -webkit-text-stroke: #222222;
    min-height: 15.0px
}

p.p59 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #222222
}

p.p60 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #222222
}

p.p61 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 14.0px Lora;
    color: #222222;
    -webkit-text-stroke: #222222;
    background-color: #ffffff
}

p.p62 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 14.0px Lora;
    color: #222222;
    -webkit-text-stroke: #222222;
    background-color: #ffffff;
    min-height: 14.0px
}

p.p63 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 14.0px Lora;
    color: #222222;
    -webkit-text-stroke: #222222;
    background-color: #ffffff
}

p.p64 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p65 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 14.0px Lora;
    color: #034e71;
    -webkit-text-stroke: #333333
}

p.p66 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p67 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #333333;
    min-height: 14.0px
}

p.p68 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 13.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p69 {
    margin: 0.0px 0.0px 10.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p70 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    text-align: justify;
    line-height: 18.0px;
    font: 11.0px 'Lora SemiBold';
    color: #000000;
    -webkit-text-stroke: #333333;
    min-height: 14.0px
}

p.p71 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    text-align: justify;
    line-height: 18.0px;
    font: 11.0px 'Lora SemiBold';
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p72 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    text-align: justify;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p73 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    text-align: justify;
    font: 10.7px Lora;
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p74 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    text-align: justify;
    font: 10.7px Lora;
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p75 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    text-align: justify;
    line-height: 18.0px;
    font: 11.0px 'Lora SemiBold';
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p76 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    line-height: 14.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p77 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    text-align: justify;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p78 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    text-align: justify;
    font: 10.7px Lora;
    color: #000000;
    -webkit-text-stroke: #333333;
    min-height: 14.0px
}

p.p79 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    text-align: justify;
    line-height: 18.0px;
    font: 13.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p80 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    text-align: center;
    font: 47.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p81 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    text-align: center;
    font: 13.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p82 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    text-align: center;
    font: 8.0px Lora;
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p83 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    text-align: center;
    font: 13.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #333333;
    min-height: 16.0px
}

p.p84 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    text-align: center;
    font: 11.0px 'PingFang SC';
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p85 {
    margin: 0.0px 0.0px 26.0px 0.0px;
    text-align: justify;
    font: 11.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p86 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #333333;
    min-height: 14.0px
}

p.p87 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 13.0px Montserrat;
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p88 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 12.0px Courier;
    color: #484b54;
    -webkit-text-stroke: #333333
}

p.p89 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 12.0px Courier;
    color: #60ae62;
    -webkit-text-stroke: #333333
}

p.p90 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 12.0px Courier;
    color: #60ae62;
    -webkit-text-stroke: #333333
}

p.p91 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 12.0px Monaco;
    color: #000000;
    -webkit-text-stroke: #333333
}

p.p92 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 12.0px Monaco;
    color: #a16c00;
    -webkit-text-stroke: #333333
}

p.p93 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 12.0px Monaco;
    color: #a16c00;
    -webkit-text-stroke: #333333
}

p.p94 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 12.0px Monaco;
    color: #000000;
    -webkit-text-stroke: #333333
}

li.li12 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #ffffff
}

li.li64 {
    margin: 0.0px 0.0px 16.0px 0.0px;
    font: 14.0px Lora;
    color: #000000;
    -webkit-text-stroke: #333333
}

span.s1 {
    font-kerning: none;
      line-height: 180%;
}

span.s2 {
    text-decoration: underline;
    font-kerning: none
}

span.s3 {
    letter-spacing: 0.7px
}

span.s4 {
    font: 24.7px Montserrat;
    letter-spacing: 0.7px
}

span.s5 {
    font: 11.0px Montserrat;
    letter-spacing: 0.7px
}

span.s6 {
    font: 13.0px Montserrat;
    font-kerning: none
}

span.s7 {
    font: 14.0px Lora;
    font-kerning: none;
    color: #034e71
}

span.s8 {
    font: 14.0px Montserrat;
    font-kerning: none
}

span.s9 {
    font: 12.0px Lora;
    font-kerning: none
}

span.s10 {
    font: 11.0px 'Apple Symbols';
    font-kerning: none
}

span.s11 {
    font: 14.0px Lora;
    font-kerning: none;
    color: #034e71
}

span.s12 {
    font: 11.0px 'PingFang SC';
    font-kerning: none
}

span.s13 {
    font: 14.0px Lora;
    font-kerning: none
}

span.s14 {
    font: 8.0px Lora;
    vertical-align: 4.0px;
    font-kerning: none
}

span.s15 {
    font: 11.0px Times
}

span.s16 {
    font-kerning: none;
    color: #3d3d3d
}

span.s17 {
    font: 11.0px Montserrat;
    font-kerning: none;
    color: #034e71
}

span.s18 {
    text-decoration: line-through;
    font-kerning: none
}

span.s19 {
    font: 14.0px Lora;
    font-kerning: none
}

span.s20 {
    font-kerning: none;
    color: #212121
}

span.s21 {
    font: 11.0px 'Apple Color Emoji';
    font-kerning: none
}

span.s22 {
    font: 11.0px 'Times New Roman';
    font-kerning: none
}

span.s23 {
    font-kerning: none;
    -webkit-text-stroke: 0px #000000
}

span.s24 {
    font-kerning: none;
    color: #034e71
}

span.s25 {
    font-kerning: none;
    color: #333333;
    -webkit-text-stroke: 0px #333333
}

span.s26 {
    font-kerning: none;
    color: #ffffff
}

span.s27 {
    font-kerning: none;
    color: #000000
}

span.s28 {
    text-decoration: line-through;
    font-kerning: none;
    color: #5e5e5e
}

span.s29 {
    font-kerning: none;
    color: #5e5e5e
}

span.s30 {
    font-kerning: none;
    color: #0000ff
}

span.s31 {
    font: 10.7px Lora;
    font-kerning: none;
    color: #034e71
}

span.s32 {
    font: 12.0px Times;
    font-kerning: none
}

span.s33 {
    font: 10.0px Montserrat;
    font-kerning: none
}

span.s34 {
    font: 1font: 14.0px Lora
}

span.s35 {
    font: 11.0px Montserrat;
    font-kerning: none
}

span.s36 {
    font: 11.0px Courier;
    font-kerning: none
}

span.s37 {
    font-kerning: none;
    color: #b742b3
}

span.s38 {
    font-kerning: none;
    color: #c57e00
}

span.s39 {
    font-kerning: none;
    color: #eb6d5b
}

span.s40 {
    font-kerning: none;
    color: #0097c8
}

span.s41 {
    font-kerning: none;
    color: #60ae62
}

span.s42 {
    font-kerning: none;
    color: #d68a00
}

span.s43 {
    font: 11.0px Courier;
    font-kerning: none;
    color: #000000
}

span.s44 {
    font-kerning: none;
    color: #484b54
}

span.s45 {
    font-kerning: none;
    color: #295e99
}

span.s46 {
    font-kerning: none;
    color: #d97100
}

span.s47 {
    font-kerning: none;
    color: #a16c00
}

span.s48 {
    font-kerning: none;
    color: #0329d8
}

span.Apple-tab-span {
    white-space: pre
}

ol.ol1 {
    list-style-type: decimal
}

ul.ul1 {
    list-style-type: disc
}
